Source: nodejs-xml2js
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.1

Package: nodejs-xml2js
Depends: nodejs (>= 0.2.0), ${misc:Depends}
Architecture: all
Description: node-xml2js
 https://github.com/maqr/node-xml2js
